<table class="email-body center" style="display: flex;align-items: center;justify-content: center;padding: 50px;background-color: antiquewhite;width: 70%;margin: 0 15%;height: min-content;">
  <tr>
    <td class="logo" style="height: 300px;">
      <img class="logo" src="cid:logo" style="height: 300px;">
    </td>
  </tr>
  <tr>
    <td class="block" style="padding: 20px; font-size: xx-large;">
      Please click the link below to {{todo}}.
    </td>
  </tr>
  <tr>
    <td class="center" style="display: flex;align-items: center;justify-content: center;padding: 20px;">
      <a class="btn" href="{{link}}" style="text-align: center;width: 270px;height: auto;color: white;font-weight: bold;background-color: #a3001c;text-decoration: none;padding: 10px 40px; font-size: x-large">Click Me!</a>
    </td>
  </tr>
</table>