body {
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}

.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	margin-top: 6rem;
	margin-bottom: 3rem;
}

.navbar {
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: solid 1px;
	opacity: 0.9;
}

.navbar a {
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.login-signup-reset-heading {
	font-weight: bold;
	font-size: xx-large;
}

#login-form {
	padding-bottom: 10px;
}

.login-reset-form-label {
	font-weight: bold;
	font-size: larger;
}

.login-signup-reset-plain-text {
	font-size: large;
}

#login-forgot-password-text {
	border-top: 20px;
}

#team-heading {
	font-size: xx-large;
	font-weight: bold;
}

#team-text {
	font-size: larger;
}

#feedback-form {
	padding-bottom: 10px;
}

.feedback-form-label {
	font-size: larger;
}

.about-first-heading {
	font-weight: bolder;
	font-size: xx-large;
}

.about-second-heading {
	font-weight: bold;
	font-size: x-large;
}

.about-text {
	font-size: larger;
}

#forgot-password-form {
	padding-bottom: 10px;
}

#register-heading {
	font-weight: bold;
	font-size: xx-large;
}

#signup-form {
	padding-bottom: 10px;
}

.signup-form-label-top {
	font-weight: bold;
	font-size: larger;
}

#terms-clickable-text {
	color: #2f7ef6;
	cursor: pointer;
}

.signup-form-label-bottom {
	font-size: medium;
}

.calendar-heading1 {
	font-weight: bold;
	font-size: xx-large;
}

.calendar-heading2 {
	font-weight: bold;
	font-size: x-large;
}

.calendar-text {
	font-size: large;
}

#new-event-heading {
	font-weight: bold;
	font-size: xx-large;
}

.new-event-asterisk {
	color: red;
}

.new-event-text {
	font-size: larger;
	font-weight: normal;
}

#new-event-form {
	padding-bottom: 10px;
}

.new-event-form-label {
	font-size: larger;
	font-weight: bold;
}

.new-event-form-label-eg {
	font-size: large;
	font-weight: normal;
}

.event-card-title {
	font-size: x-large;
	font-weight: double;
	margin-bottom: 0;
}

.event-card-keyinfo {
	font-size: larger;
	margin-bottom: 0;
}

.event-card-moreinfo {
	font-size: larger;
	margin-bottom: 0;
	display: none;
}

.event-card-boldtext {
	font-weight: bold;
}

.event-card-italictext {
	font-style: italic;
}

.event-more-text {
	position: relative;
	color: #2f7ef6;
	cursor: pointer;
	top: 10px;
}

.event-ongoing-badge {
	width: 140px;
	display: block;
	border: thin solid #0070f9;
	font-weight: bold;
	font-size: x-large;
}

.event-ongoing-text {
	padding-left: 18px;
	color: #0070f9;
}

.event-upcoming-badge {
	width: 140px;
	display: block;
	border: thin solid #ff892e;
	font-weight: bold;
	font-size: x-large;
}

.event-upcoming-text {
	padding-left: 11px;
	color: #ff892e;
}

.event-ended-badge {
	width: 140px;
	display: block;
	border: thin solid #606a71;
	font-weight: bold;
	font-size: x-large;
}

.event-ended-text {
	padding-left: 32px;
	color: #606a71;
}

#notfound-heading {
	font-weight: bolder;
	font-size: xx-large;
}

.notfound-bold-text {
	font-weight: bold;
	font-size: x-large;
}

.notfound-plain-text {
	font-size: x-large;
	padding-left: 15px;
	padding-right: 15px;
}

.event-card-class-overriding-bootstrap {
	border-bottom: 1px solid #6c757d !important;
	border-bottom-left-radius: 0.25rem !important;
	margin-bottom: 5px;
}

.event-card-overriding-bootstrap {
	padding-top: 5px !important;
	padding-bottom: 0 !important;
}

.comment-card-overriding-bootstrap {
	border-top: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}

.comment-area {
	position: relative;
	top: -5px;
}

.comment-user {
	font-weight: bold;
	font-size: large;
}

.comment-time {
	font-style: italic;
}

.comment-head {
	margin-bottom: 0;
	padding-left: 5px;
}

.comment-content {
	margin-bottom: 0;
	padding-left: 5px;
}

.comment-favicon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
}
